body {
    padding: 32px 0;
    background: #FFFFFF;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    align-content: center;
}

canvas {
    background-color: #FFFFFF;
    border: 1px solid #666666;
}

a {
    text-decoration: none;
    color: #4b8bff;
}

a:hover {
    text-decoration: underline;
}

.controls {
    text-align: center;
}