body {
    padding: 32px 0;
    background: #FFFFFF;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    align-content: center;
}

canvas {
    background-color: #FFFFFF;
    border: 1px solid #666666;
}

a {
    text-decoration: none;
    color: #4b8bff;
}

a:hover {
    text-decoration: underline;
}

.controls {
    text-align: center;
}


.fork-me {
    display: block;
    width: 149px;
    height: 149px;
    position: fixed;
    top: 0;
    right: 0;
    background: url("img/fork-me.png") no-repeat top left;
    -webkit-background-size: 149px 149px;
    background-size: 149px 149px;

}